// Reason why `!important` needs to be included:
//https://stackoverflow.com/questions/58070076/how-to-import-ant-design-components-without-default-class-names

// About.scss
.header-bar {
  background-color: #FAEEDC !important;
  color: black !important;

  .header-bar-logo {
    color: #FAEEDC !important;
    text-align: left !important;
    float: left !important;
  }

  .header-bar-title {
    margin-left: 2.2em !important;
    padding-top: 10px !important;
  }

  .header-bar-menu {
    text-align: right !important;
    padding-right: 6.1em !important;

    .bsa-button {
      margin-left: 15px !important;
    }

    .newsletter-button {
      margin-left: 15px  !important;
    }
  }
}

.summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  // TODO: Implement flex grow/shrink/basis here
  padding-top: 100px;
  padding-bottom: 20px;
  color: black !important;

  .summary-content {
    width: 500px;
    text-align: center;

    .summary-text {
      padding: 20px;
    }

    .get-started-button {
      padding: 20px;
      text-align: center;
    }
  }

  .summary-image {
    padding: 40px;
    height: 400px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.building-bsa-heading {
  text-align: center !important;
  padding-top: 3em !important;
  color: black !important;
}

.building-bsa-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color: black !important;

  .building-bsa-text {
    width: 500px;
    padding: 10px 0px;
  }

  .building-bsa-image {
    padding: 40px 0px;
    height: 500px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.founders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  color: black !important;
  text-align: left;

  .duffy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;

    .duffy-image {
      padding: 40px 0px;
      width: 40%;
      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 20px;
      }
    }

    .duffy-text-content {
      width: 60%;
      padding: 40px;
    }

  }

  .neeraj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;

    .neeraj-image {
      padding: 40px 0px;
      width: 40%;
      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 20px;
      }
    }

    .neeraj-text-content {
      width: 60%;
      padding-top: 40px;
    }
  }
}


